extends layout

block content
    div.page-header.title
        img#logo(src=`images/${logo}`)
        h1= title
    div#block.row
        div.col-md-4.col-sm-6.col-xs-12
            span.column1 Partner name:
            input#discount(value=partner_name, disabled=true)
        div.col-md-8.col-sm-6.col-xs-12
            span.column2 Number of employees:
            input#numEmployees(value="20", type="number")
        div.col-md-4.col-sm-6.col-xs-12
            span.column1 Discount:
            input#discount(value=`${discount}%`, disabled=true)
        div.col-lg-4.col-md-8.col-sm-6.col-xs-12
            span.column2 Type of payment:
            div(class="btn-group buttons", data-toggle="buttons")
              label.btn.btn-primary.active
                input(type="radio", name="payment", autocomplete="off", value="onetime", checked=true)
                | Yearly
              label.btn.btn-primary
                input(type="radio", name="payment", autocomplete="off", value="monthly")
                | Monthly
        div.col-lg-4.col-md-12
            span.column3 Currency:
            div(class="btn-group buttons", data-toggle="buttons")
              label.btn.btn-primary.active
                input(type="radio", name="currency", autocomplete="off", value="euro", checked=true)
                | EURO
              label.btn.btn-primary
                input(type="radio", name="currency", autocomplete="off", value="mkd")
                | MKD
    div.table-responsive
        table.table.table-striped.table-bordered#price-tbl
            thead
                tr
                    th #
                    th VapourApps Product
                    th(colspan="3") VapourApps Regular
                    th(colspan="3") VapourApps Partner
                tr
                    th
                    th
                    th(colspan="2") First year (one of two options)
                    th After 12 months
                    th(colspan="2") First year (one of two options)
                    th After 12 months
                tr
                    th
                    th
                    th OneTime
                    th Monthly
                    th Monthly
                    th.highlight-col.onetime-head OneTime
                    th.monthly-head Monthly
                    th Monthly
            tbody
    button#export Export
    button#help(data-toggle="modal" data-target="#helpModal") Help
    .note*VAT 18% not included
    #helpModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            h4 Упатство за употреба
          .modal-body
            ol
              li Внесувате број на вработени за клиентот
              li Бирате начин на плаќање: месечно или годишно
              li Бирате валута: денари или евра
              li Со клик на името на производот, добивате брошура со ваше лого во .pdf формат
              li
                | На десен клик на името на производот, добивате линк до брошурата за праќање до клиенти
              li Штиклирате за кои производи е заинтересиран клиентот
              li Бараните цени према вас се означени со плаво
              li На копчето “Export”, ги добивате партнерските цени во .csv формат.
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    script.
        var services = !{services}
        var discount = (100 - !{discount})/100
