extends layout

block content
    div.page-header.title
        img#logo(src=`images/${logo}`)
        h1= title
    div#block.row
        div.col-md-12
            span.column2 Number of employees:
            input#numEmployees(value="20", type="number")
        div.col-lg-6
            span.column2 Type of payment:
            div(class="btn-group buttons", data-toggle="buttons")
              label.btn.btn-primary.active
                input(type="radio", name="payment", autocomplete="off", value="onetime", checked=true)
                | Yearly
              label.btn.btn-primary
                input(type="radio", name="payment", autocomplete="off", value="monthly")
                | Monthly
        div.col-lg-6
            span.column3 Currency:
            div(class="btn-group buttons", data-toggle="buttons")
              label.btn.btn-primary.active
                input(type="radio", name="currency", autocomplete="off", value="euro", checked=true)
                | EURO
              label.btn.btn-primary
                input(type="radio", name="currency", autocomplete="off", value="mkd")
                | MKD
    div.table-responsive
        table.table.table-striped.table-bordered#price-tbl
            thead
                tr
                    th #
                    th VapourApps Product
                    th(colspan="3") VapourApps Regular
                tr
                    th
                    th
                    th(colspan="2") First year (one of two options)
                    th After 12 months
                tr
                    th
                    th
                    th.highlight-col.onetime-head OneTime
                    th.monthly-head Monthly
                    th Monthly
            tbody
    button#export Export
    button#help(data-toggle="modal" data-target="#helpModal") Help
    .note*VAT 18% not included
    #helpModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            h4#modal-title Упатство за употреба
            span.pull-right
                a(href='#', id='mkd') MK
                a(href='#', id='eng') EN
          .modal-body
            ol#mk
                li Внесувате број на вработени за клиентот
                li Бирате начин на плаќање: месечно или годишно
                li Одбирате валута: денари или евра
                li Со клик на името на производот, добивате брошура во .pdf формат
                li На десен клик на името на производот, добивате линк до брошурата за праќање
                li Штиклирате за кои производи сте заинтересирани
                li Бараните цени према вас се означени со плаво
                li На копчето “Export”, ги добивате цените во .csv формат.
            ol#en
                li Enter the number of employees
                li Choose a payment method: monthly or yearly
                li Choose currency: denars or euros
                li By clicking on the product name, you get a brochure in .pdf format
                li Right click on the product name, get a link to the brochure to send
                li Check for which products you are interested
                li The requested prices for you are marked with blue
                li On the "Export" button, you get the prices in .csv format
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    script.
        var services = !{services}

block scripts
    script(src="javascripts/dist/script1.js")
